@page
@model UserFormModel

<header class="d-flex">
    <a href="/" class="btn">Home</a>
    <a href="/Users" class="btn last">Usuários</a>
    <h1>
        <img src="cs.png" alt="cs">
        Cliente C#
    </h1>
</header>
<main>
    <div class="container">
        <h2 class="page-title">@Model.Title</h2>
        <form action="" method="POST" class="validate-form">
            <div class="form-row">
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" class="required" value="@Model.user.nome" @Model.NameAttr>
            </div>
            <div class="form-row">
                <label for="age">Idade:</label>
                <input type="number" name="age" id="age" class="required" value="@Model.user.idade">
            </div>
            <div class="form-row">
                <label for="role">Ocupação:</label>
                <input type="text" name="role" id="role" class="required" value="@Model.user.ocupacao">
            </div>
            <div class="form-row">
                <input type="hidden" name="action" value="@Model.Action">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</main>
<footer class="d-flex">
    <p>&copy; ABC Bolinhas - 2021</p>
</footer>